<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Interactions are life!</h2>
                <hr class="light">
                <p class="text-faded">Evolution proceeding at ecological time scales changes the way we approach traditional evolutionary dynamics.
We are interested in understanding the evolutionary change in interactions in the light of the ecology in which they take place.
The focal individuals of interest could be at any level of organisation, from chemical reactants to memes and interactions can take different forms from cooperation to conflict.
With such a broad perspective our work spans from the traditional fields of theoretical ecology and population genetics to evolutionary games and social evolution.</p>
<p>Currently the Group consists of</p>
                <a href="vandana.html" class="btn btn-default btn-xl">Vandana</a>
                <a href="maria.html" class="btn btn-default btn-xl">Maria</a> <br> <br>
                <a href="http://gokhalechaitanya.github.io" class="btn btn-default btn-xl">Chaitanya</a>
            </div>
        </div>
    </div>
</section>
