<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We are in Plön</h2>
                <hr class="primary">
                <p>Embedded in the Department of Evolutionary Theory at the Max Planck Institute for Evolutionary Biology</p>
                <p>We are nestled in the tourist town of Plön, in the northernmost state of Germany.</p>
                <p>August Thienemann Str. 2 24306, Plön, Germany.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Follow us</p>
                <!-- <p>{{ site.twitter_username }}</p> -->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>e-Mail</p>
                <!-- <p>{{ site.email }}</p> -->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="http://www.evolbio.mpg.de/2169/en">
            <i class="fa fa-university fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>Max Planck</p>
                 <!-- <p>{{ site.github_username }}</p> -->
            </a>
        </div>
    </div>
</section>
