<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://elifesciences.org/articles/28683" class="portfolio-box">
                    <img src="img/papers/n2fix.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mutualism
                            </div>
                            <div class="project-name">
                                How are N2 fixers favoured in the legume rhizobia symbiosis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://gokhalechaitanya.github.io/Paper20/" class="portfolio-box">
                    <img src="img/papers/tribolium.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Social evolution
                            </div>
                            <div class="project-name">
                                Flour beetles experiencing a social dilemma? Sometimes!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://gokhalechaitanya.github.io/Paper18/" class="portfolio-box">
                    <img src="img/papers/quasispecies.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Evolutionary dynamics
                            </div>
                            <div class="project-name">
                                Discovery of a new quasispecies
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://gokhalechaitanya.github.io/Paper21/" class="portfolio-box">
                    <img src="img/papers/wonderland.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chaos, Antagonism
                            </div>
                            <div class="project-name">
                                Chaotic Provinces in the Kingdom of the Red Queen
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://gokhalechaitanya.github.io/Paper17/" class="portfolio-box">
                    <img src="img/papers/phaseportraits.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Social Evolution
                            </div>
                            <div class="project-name">
                                Eco-evolutionary dynamics of social dilemmas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://gokhalechaitanya.github.io/Paper23/" class="portfolio-box">
                    <img src="img/papers/threeplayergame.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eco-evolutionary dynamics
                            </div>
                            <div class="project-name">
                                Disentangling eco-evolutionary effects on trait fixation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
