<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Maria Bargués i Ribera</h2>
                  <hr class="primary">
                  <a href="#" class="portfolio-box">
                      <img src="img/staff/maria.jpg" class="img-responsive" alt="" width="250" align="left" hspace="20">
                  </a>
                  <p align="left"> Coming from Barcelona, I started on the lab bench during my BSc degree in Human Biology (Universitat Pompeu Fabra, Barcelona), but now computers have become my hands for doing science.
                  During my masters, I got experience in modelling biological processes in the fields of cognitive science (MSc in Cognitive Systems and Interactive Media, Universitat Pompeu Fabra, Barcelona)
                   and synthetic biology (MSc in Systems and Synthetic Biology, Université d’Évry-Val-d’Essonne/Paris-Saclay, Évry), and I decided to become a theoretical biologist.
                  Currently, I am working on the integration of eco-evolutionary dynamics in agriculture, to design novel strategies for crop rotations.
                  <br/>
                  <p align="center"> Research Interests: Theoretical biology, population dynamics, ecology, complex systems, synthetic biology. </p>

              </div>

              <div class = "col-lg-2 col-lg-offset-2 text-center">
                <h3> Conferences, workshops and talks </h3>
                <p>
                  Upcoming, 2018:
                  <ul>
                    <li> Winter Workshop in Complex Systems 2018, at Utrecht University (Utrecht, NL)</li>
                  </ul>
                </p>
                <p>
                  2017:
                  <ul>
                    <li> Organisation and short talk in Aquavit - Internal Symposium, at Max Planck Institute for Evolutionary Biology (Ploen, DE)</li>
                    <li> Short talk in Symposium for Pathogen Coevolution, at Kiel Evolution Center (Kiel, DE) </li>
                    <li> Poster in Kiel Life Sciences Student Conference, at Kiel University (Kiel, DE) </li>
                  </ul>
                </p>
                
              </div>
          <div class="col-lg-2 col-lg-offset-2 text-center">
              <a href="https://twitter.com/mariabargues">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.twitter_username }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="mailto:bargues@evolbio.mpg.de">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.email }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="http://www.evolbio.mpg.de/">
              <i class="fa fa-university fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <!-- <p>{{ site.github_username }}</p> -->
              </a>
          </div>
      </div>
  </section>

  {% include scripts.html %}
</body>

</html>
