<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Vandana Revathi Venkateswaran </h2>
                  <hr class="primary">
                  <a href="#" class="portfolio-box">
                      <img src="img/staff/vandana.jpg" class="img-responsive" alt="" width="200" align="left" hspace="20">
                  </a>
                <p align="left">  I was born in Chennai, India. I did my BSc in Physics from Delhi University. 
                  I later joined an Erasmus Mundus programme through which I graduated from Ghent University, Belgium with an MSc in Nuclear Fusion and Engineering Physics. 
                  While doing my numerical projects related to computational physics, and out of curiosity, I read about nonlinear dynamics, evolutionary dynamics, game theory and so on that are used in theoretical biology. 
                  This way, I was attracted to the field of evolutionary biology. 
                  I am mainly interested in developing models for social evolution, life-history evolution etc. 
                  I am doing my PhD in Dr. Chaitanya S. Gokhale's Research Group for Theoretical Models in Eco-Evolutionary dynamics.
                Currently I am working on two projects, namely, multiple game dynamics and investigating the relationship between parental investment and immune response.  </p>

                  <p> Research Interests : Theoretical ecology and evolution, Evolutionary game theory, multiplayer games, multiple games, social and life-history evolution models </p>
                
                <h4> Publications </h4>
                
                <l> Vandana R. Venkateswaran and Chaitanya S. Gokhale (2018). <i>Evolutionary dynamics of multiple games</i>. Manuscript under revision. https://www.biorxiv.org/content/early/2018/04/16/302265 </l>
                
                <h4> Conferences and Worshops </h4>
                
                 <p align="left">
                   2018:
                    <ul align="left">
                      <li> Organiser for a workshop "Talking Evolution" (at the Max Planck Institute for Evolutionary Biology, Germany) that has focus on discussing topics such as niche construction theory, extra-genetic inheritance, developmental bias, and phenotypic plasticity. </li>
                      <li> Participant of the Santa Fe Institute's Complex Systems Summer School (10 June - 6 July). </li>
            
                     </ul> 
                   </p>
                
                
                  <p align="left">
                   2016 - 2017:
                    <ul align="left">
                      <li> Presented a poster on my first PhD project titled 'Evolutionary dynamics of unfocused games' at the Kiel Life Science Conference in October 2016 and at the German Physics Conference (DPG Conference) in March 2017.</li>
                      <li> Was awarded a travel grant to attend the Toulouse Economics and Biology Workshop in June 2017 at the Institute for Advanced Study (IAST), Toulouse, France. </li>
                      <li> Organised and presented a talk at the Aquavit Symposium at the Max Planck Institute for Evolutionary Biology, Germany. </li>
                      <li> Obtained the IMPRS conference funding to participate in the Beg Rohu Summer School for Out of Equilibrium Dynamics, Evolution and Genetics organised by École normale supérieure, France. </li>
                     </ul> 
                   </p>
              </div>
          <div class="col-lg-2 col-lg-offset-2 text-center">
              <a href="https://twitter.com/vandana_r_v"> 
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.twitter_username }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="mailto:vandana@evolbio.mpg.de">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.email }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="http://www.evolbio.mpg.de/">
              <i class="fa fa-university fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <!-- <p>{{ site.github_username }}</p> -->
              </a>
          </div>
      </div>
  </section>

  {% include scripts.html %}
</body>

</html>
