<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Vandana Revathi Venkateswaran </h2>
                  <hr class="primary">
                  <a href="#" class="portfolio-box">
                      <img src="img/staff/vandana.jpg" class="img-responsive" alt="" width="200" align="left" hspace="20">
                  </a>
                <p align="left">  I was born in Chennai, India. I did my BSc in Physics from Delhi University. 
                  I later joined an Erasmus Mundus programme through which I graduated from Ghent University, Belgium with an MSc in Nuclear Fusion and Engineering Physics. 
                  While doing my numerical projects related to computational physics, and out of curiosity, I read about nonlinear dynamics, evolutionary dynamics, game theory and so on that are used in theoretical biology. 
                  This way, I was attracted to the field of evolutionary biology. 
                  I am mainly interested in developing models for social evolution, life-history evolution etc. 
                  I am doing my PhD in Dr. Chaitanya S. Gokhale's Research Group for Theoretical Models in Eco-Evolutionary dynamics.
                Currently I am working on two projects, namely, multiple game dynamics and investigating the relationship between parental investment and immune response.  </p>

                  <p> Research Interests : Evolutionary game theory, multiplayer games, multiple games, social and life-history evolution models </p>
              </div>
          <div class="col-lg-2 col-lg-offset-2 text-center">
              <a href="https://twitter.com/single_mutant"> 
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.twitter_username }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="mailto:vandana@evolbio.mpg.de">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.email }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="http://www.evolbio.mpg.de/">
              <i class="fa fa-university fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <!-- <p>{{ site.github_username }}</p> -->
              </a>
          </div>
      </div>
  </section>

  {% include scripts.html %}
</body>

</html>
