<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Vandana!</h2>
                  <hr class="primary">
                  <a href="#" class="portfolio-box">
                      <img src="img/staff/vandana.jpg" class="img-responsive" alt="" width="200" align="left">
                  </a>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas diam in arcu cursus euismod. Turpis egestas integer eget aliquet nibh praesent tristique magna sit. Consectetur adipiscing elit duis tristique. Auctor urna nunc id cursus. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Elementum nisi quis eleifend quam adipiscing vitae. Velit laoreet id donec ultrices tincidunt arcu. Urna porttitor rhoncus dolor purus non enim praesent elementum. Etiam sit amet nisl purus in mollis nunc sed id. Urna nunc id cursus metus aliquam eleifend mi. Pretium lectus quam id leo in vitae turpis. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Quis vel eros donec ac odio tempor orci dapibus ultrices. Tellus at urna condimentum mattis. Dis parturient montes nascetur ridiculus mus mauris.</p>
                  <p> Research Interest </p>
                  <p>A erat nam at lectus urna duis convallis convallis tellus. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Lorem ipsum dolor sit amet consectetur adipiscing elit. Facilisi cras fermentum odio eu feugiat pretium. Nunc lobortis mattis aliquam faucibus purus in. Lectus quam id leo in vitae turpis. Proin fermentum leo vel orci porta non pulvinar neque laoreet. Habitasse platea dictumst quisque sagittis purus. Duis at tellus at urna condimentum. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Sed adipiscing diam donec adipiscing tristique. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Nec ultrices dui sapien eget mi proin. Gravida rutrum quisque non tellus orci ac auctor augue. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Urna cursus eget nunc scelerisque viverra mauris in aliquam sem. Sed id semper risus in. Eget nulla facilisi etiam dignissim diam.
                  Malesuada proin libero nunc consequat interdum. Senectus et netus et malesuada. Tincidunt augue interdum velit euismod in pellentesque massa placerat duis. Sed blandit libero volutpat sed cras. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Vel fringilla est ullamcorper eget nulla facilisi etiam. Nullam vehicula ipsum a arcu cursus vitae. Aliquet nec ullamcorper sit amet. Semper feugiat nibh sed pulvinar proin gravida. Accumsan lacus vel facilisis volutpat est. Tempus quam pellentesque nec nam aliquam sem et tortor consequat. Mattis nunc sed blandit libero volutpat sed gravida.</p>
              </div>
          <div class="col-lg-2 col-lg-offset-2 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.twitter_username }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <!-- <p>{{ site.email }}</p> -->
              </a>
          </div>
          <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="http://www.evolbio.mpg.de/">
              <i class="fa fa-university fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <!-- <p>{{ site.github_username }}</p> -->
              </a>
          </div>
      </div>
  </section>

  {% include scripts.html %}
</body>

</html>
